# MVS host connection
MVS_HOST=localhost
MVS_PORT=1080
MVS_USER=IBMUSER
MVS_PASS=secret

# JES job settings
MVS_JOBCLASS=A
MVS_MSGCLASS=H

# CRENT370 (dependency)
CRENT_MACLIB=CRENT370.MACLIB

# HTTPD datasets
HTTPD_PUNCH=IBMUSER.HTTPD.OBJECT
HTTPD_SYSLMOD=IBMUSER.HTTPD.NCALIB
HTTPD_LOADLIB=IBMUSER.HTTPD.LOAD

# Dependency NCALIBs (for link step)
CRENT_NCALIB=CRENT370.NCALIB
UFS_NCALIB=UFS370.NCALIB
LUA_NCALIB=LUA370.NCALIB
MQTT_NCALIB=MQTT370.NCALIB
